.audio {
  width: 100%;
  background-color: rgb(242, 242, 242);
  border-top: 1px solid rgba(0, 0, 0, .15);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 46px;
  z-index: 99;
}

.body-audio {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.controls-div {
  width: 20%;
  // background-color: mistyrose;
}

.audio-player {
  width: 45%;
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: gainsboro;
}

.audio-details-div {
  width: 30%;
  margin-right: 5%;
  // background-color: navajowhite;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.audio-player span {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-player span:first-of-type {
  color: #f50;
}

.progress-bar {
  width: 80%;
  position: relative;
  padding: 10px 0;
  // background-color: mistyrose;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.rc-progress-line {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 100%;
}

.progress-bar:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.controls-ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

.play-pause {
  font-size: 20px;
}
.controls-ul li {
  // margin-left: 10px;
  font-size: 16px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;
  border: none;
  // background-color: mistyrose;
  transition: 0.2s ease-in-out;
  // backg
}

.controls-ul li:hover {
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
}






.audio-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.audio-text-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  // background-color: mistyrose;
}

.volume-slider {
  height: 150px;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  // right: 30%;
  padding: 10px 0;

  display: none;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px #888888;
  transition: opacity 0.2s ease-in-out;
}

.volume {
  position: relative;
  bottom: 0px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 5%;
  // margin-right: 5%;
  padding: 0;
  transition: font 0.2s ease-in-out;
}

.volume-button {
  font-size: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 28px;
  padding: 0;
  padding-bottom: 2px;
  margin: 0;
  // transition: 0.2s ease-in-out;
  // background-color: cornflowerblue;
}

.volume-button:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  cursor: pointer;
}

.volume:hover {
  bottom: 89px;
}
.volume:hover .volume-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume:active {
  bottom: 89px;
}
.volume:active .volume-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
