.comments-div {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20vh;
  // background-color: honeydew;
}
.comment-form-div {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-form {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  // background-color: mistyrose;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.comment-input {
  // background-color: paleturquoise;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 2%;
}

.comment-input-error {
  // background-color: paleturquoise;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f70;
  padding: 0 2%;
}


.comment-index {
  margin: 0;
  padding: 0;
  list-style: none;
  // background-color: mistyrose;
  height: 100%;
  width: 100%;
  // padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.comment-index-item {
  margin: 0;
  padding: 20px 0;
  // background-color: cornflowerblue;
  // height: 50px;
  width: 70%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.comment-index-item:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.comment-left {
  width: 70%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // background-color: honeydew;
}

.comment-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // background-color: navajowhite;
  width: 100%;
  height: 100%;
  margin-left: 5%;
}

.comment-img-wrapper {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-img {
  max-height: 35px;
  height: auto;
  max-width: 35px;
  width: auto;
}

.comment-username {
  color: rgb(155, 155, 155);
  // background-color: aquamarine;
  width: 100%;
  padding: 0 2%;
}

.comment-text {
  // background-color: paleturquoise;
  width: 100%;
  // padding-left: 10px;
  // padding-left: 2%;
}

.comment-text-editable-wrapper {
  z-index: 9;
  border-radius: 5px;
  padding: 0 2%;
  width: 100%;
  position: relative;
  // box-sizing: border-box;
  // left: -2%;
}

.comment-text-overlay {
  width: 100%;
  height: 100%;
  // padding: 0 2%;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-text-editable {
  width: 100%;
}

.comment-right {
  color: rgb(155, 155, 155);
  margin-right: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // background-color: mistyrose;
}

.comment-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background-color: none;
  // opacity: 0;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.comment-overlay:hover {
  opacity: 1;
  // cursor: pointer;
}

.comment-overlay:hover .delete-comment {
  opacity: 1;
}

.comment-index-item:hover {
  background-color: rgb(252, 252, 252);
}

.comment-index-item:hover .comment-text-editable-wrapper {
  background-color: rgb(242, 242, 242);
}

.comment-text-overlay:hover {
  cursor: pointer;
  background-color: rgba(242, 242, 242, 0.7);
  opacity: 1;
  // background-color: mistyrose;
}

.comment-text-overlay:hover .edit-comment {
  opacity: 1;
  // background-color: mistyrose;
}

.delete-comment {
  opacity: 0;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.2s ease-in-out;
}

.delete-comment:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}

.edit-comment {
  opacity: 0;
}
