.profile-div {
  width: 90%;
  height: 100%;
  overflow-y: auto;
  // height: 30vh;
  background-color: white;
  animation-name: loadTransparent;
  animation-duration: 4s;
}

.profile-banner {
  width: 100%;
  // padding-left: 11  %;
  // background: linear-gradient(315deg, rgb(142, 132, 133) 0%, rgb(230, 132, 110) 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // transition: 1s ease-in-out;
}
.profile-img-wrapper {
  height: 230px;
  width: 230px;
  margin: 30px 5% 30px 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile-img {
  height: 230px;
  width: 230px;
  // object-fit:   cover;
  // border: 1px solid rgba(0, 0, 0, 0.15);
  // background-color: white;
  // margin-right: 2.5%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
//
// .profile-img {
//   max-height: 230px;
//   height: auto;
//   max-width: 230px;
//   width: auto;
//   // position: absolute;
//   // left: 0;
//   // top: 0;
//
//   // box-sizing: border-box;
// }

.profile-username-wrapper {
  height: 60px;
  width: 100%;
  position: relative;
  margin-right: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.edit-profile-username-wrapper {
  height: 90px;
  width: 100%;
  position: relative;
  margin-right: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.edit-profile-username-wrapper-error {
  height: 90px;
  width: 100%;
  position: relative;
  top: 15px;
  margin-right: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile-error {
  color: #f70;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // background-color: honeydew;
}

.profile-username {
  // background-color: black;
  height: 100%;
  color: white;
  font-size: 36px;
  padding: 12px 3%;
  // margin-right: 5%;
}

.profile-tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.profile-tracks-title {
  width: 60%;
  margin-top: 28px;
  font-size: 30px;
  line-height: 60px;
  padding-bottom: 28px;
  text-align: left;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.no-tracks-found {
  // background-color: honeydew;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
  font-size: 24px;
  color: rgb(155, 155, 155);
  width: 100%;
  height: 100%;
}

.profile-img-label {
  height: 230px;
  width: 230px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: 0.2s ease-in-out;
  // display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img-label:hover {
  opacity: 1;
  cursor: pointer;
}

.profile-username-label {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  width: 97.5%;
  height: 100%;
  transition: 0.2s ease-in-out;
  // display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2.5%;
  border-radius: 5px;
  // margin: 5px 5%;
}

.profile-username-label:hover {
  opacity: 1;
  cursor: pointer;
}

.profile-username-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 3%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  border: none;
  font-size: 36px;
  // display: flex;
  // align-items: center;
}

.profile-username-input-error {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 3%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #f70;
  font-size: 36px;
}

.profile-username-saving {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding-left: 3%;
  // padding-top: 12px;
  // padding-bottom: 12px;
  border-radius: 5px;
  border: none;
  font-size: 36px;
  // color: white;
  background-color: rgba(242, 242, 242, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: saving;
  // animation-duration: 1s;
}

.spinner {
  animation: saving 800ms infinite linear;
  height: 36px;
  width: 36px;
  border: 3px solid white;
  border: {
    right-color: #f50;
    top-color: #f50;
    radius: 100%;
  }
}

@keyframes saving {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
