.upload-page {
  width: 90%;
  // height: 600px;
  // position: relative;
  // overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  animation-name: loadTransparent;
  animation-duration: 4s;
  padding-top: 46px;
  padding-bottom: 46px;
}

.upload-page h1 {
  background-color: paleturquoise;
}

.upload-form {
  margin-top: 46px;
  margin-bottom: 46px;
  width: 57.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 46px 10%;
  // background-color: blanchedalmond;
}

.track-data {
  // margin: 0;
  display: flex;
  width: 100%;
  // background-color: honeydew;
  height: 250px;
}

.upload-form-left {
  height: 230px;
  width: 230px;
  // object-fit: cover;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  margin: 10px;
}

.upload-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;

  box-sizing: border-box;
}

.upload-img-input {
  display: none;
}

.upload-img-label {
  height: 230px;
  width: 230px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: 0.2s ease-in-out;
  // display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-music-input {
  display: none;
}

.upload-music-label {
  background-color: #f50;
  text-align: center;
  color: white;
  transition: 0.2s ease-in-out;
}

.upload-music-label:hover {
  cursor: pointer;
  background-color: #f70;
}

.fa-camera {
  font-size: 24px;
}

.upload-img-label:hover {
  opacity: 1;
  cursor: pointer;
}

.upload-form-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // background-color: pink;
  padding: 10px;
}

.upload-form-buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  // background-color: palegreen;
}

.cancel-upload {
  border: none;
  box-sizing:border-box;
  margin: 10px 5% 10px 0;
  background-color: white;
  color: rgb(100, 100, 100);
  width: 25%;
  transition: 0.2s;
  border-radius: 5px;
}

.cancel-upload:hover {
  cursor: pointer;
  color: black;
  background-color: rgba(100, 100, 100, 0.15);
}

.upload-form-buttons input[type="submit"] {
  border: none;
  box-sizing:border-box;
  margin: 10px 0;
  width: 25%;
}


.submit-upload {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f50;
  text-align: center;
  color: white;
  // font-weight: 700;
  transition: 0.2s ease-in-out;
}

.submit-upload:hover {
  background-color: #f70;
  cursor: pointer;
}

.upload-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  height: 100vh;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.uploading {
  font-size: 36px;
}
